
@{
    ViewBag.Title = "FamilyTreeImproved";
}

@Scripts.Render("~/bundles/GoJS")
@Scripts.Render("~/bundles/FamilyTreeImproved")

<style type="text/css">
    .mainDiagram {
        border: solid 1px black;
        height: 620px;
    }
</style>

<h2>FamilyTreeImproved</h2>

<body onload="initializeDiagram()" class="body">
    <div id="mainDiagramDiv" class="mainDiagram"></div>
</body>